.btn-green {
  color: white;
  background: #1EDD88;
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-green:hover {
  color: white;
  box-shadow: 1px 1px 2px 1px rgba(12, 90, 55, 0.5);
}


.btn-red {
  color: white;
  background: #EA2B1F;
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-red:hover {
  color: white;
  box-shadow: 2px 1px 2px 1px rgba(23, 4, 3, 0.5);
}
